.container-fluid,
.img-responsive {
  width: 100% !important;
}

.container {
  max-width: 1176px !important;
  margin: 0 auto !important;
}

@media (max-width : 1234px){
  .left-section_content{
    padding-left: 25px;
  }
}

@media (max-width: 960px) {
  .brands-content img {
    height: 20px;
  }
  .description-title{
    font-size: 32px;
  }
  .description-paragraph{
    font-size: 18px;
  }
  .description-card_header h3{
    font-size: 20px;
  }
  .description-body p{
    font-size: 14px;
  }
  .description-card{
    margin-top: 20px;
  }
  .product-info{
    font-size: 14px !important;
  }
  .information-title{
    font-size: 16px;
  }
  
  .information-desc{
    font-size: 20px;
  }
  
  .information-paragraph{
    font-size: 11px;
    line-height: 20px;
  }
}

@media (max-width: 713px) {
  .nav-menu_link,
  .nav-links_item:nth-child(3) {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .nav-links_item {
    margin-right: 20px !important;
    text-align: center;
  }

  .header-navbar_menu .header-navbar_item {
    padding: 16px 8px;
  }

  .header-title {
    font-size: 41px;
  }

  .header-desc_menu .header-desc_item {
    font-size: 16px;
  }

  .header-btn_container a {
    font-size: 18px;
  }

  .header-btn_container {
    flex-direction: column;
    text-align: center;
  }

  .brands-content {
    display: none;
  }

  .swiper , .brands p {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .products{
    justify-content: center;
  }
  .description-title{
    font-size: 24px;
  }
  .description-paragraph{
    font-size: 16px;
  }
  .description-card{
    width: auto;
  }
  .information{
    flex-flow: column;
    height: 120vh;
  }
  .left-section , .right-section{
    width: 100%;
    height: 50%;
  }
  .footer-content{
    flex-flow: column;
  }
  .footer__grouping{
    border-bottom: .5px solid #bec0c233;
  }
  .links-container{
    display: flex;
    justify-content: space-around;
  }
  .copyright-total , .copyright-reg{
    display: none;
  }
  .filters{
    justify-content: center;
    margin: 0 auto 50px auto;
    width: 60%;
  }
  .filters p{
    margin-bottom: 10px;
  }
  .filter{
    margin: 5px;
  }
}

@media (max-width: 375px) {
  .header-title {
    font-size: 32px;
  }
}
